* {
    box-sizing: border-box;
  }
  body {
    background-color: white;
    font-size: 24px;
    color: white;
    background: url();
  }

  section {
  background-color: black;
  width: 33%;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  justify-content: space-evenly;
  padding: 20px;
    
  }

  header {
    width: 50%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-bewteen;
  }


  header > img {
  width: 20%;
  height: 100px;
  align-items: center;  
  margin: 10px;
  background: rgb(61, 61, 61)
}

 #quiz-title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

  .offer-to-start-quiz{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .questions {
    display: block;
    align-items: left;
    padding-bottom: 20px;
    padding-top: 20px;
  }

.verify, .next {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  } 


  .progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 5px;
    margin: 5px;
  } 

  .answers {
    background-color: rgb(61, 61, 61);
  }

  